.PostFooter {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around; /* Centralize content */
  height: 50px;
  padding: 0.5em;
  width: 95%;
  position: relative; /* Keep for absolute positioning if needed */
}

.PostFooter .postedBy {
  font-family: "Pacifico", cursive;
  flex-grow: 0; /* Start without growing */
  max-width: 100%; /* Start with a max width of 100% to centralize */
  margin: 0;
  display: flex; /* Use flexbox for alignment */
  align-items: center; /* Center align the flex items */
  justify-content: center; /* Center justify the content */
  max-height: 30px;
}

.PostFooter .author {
  color: #274c77;
  margin: 0;
  max-width: 180px; /* Controls when the text collapses */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0 5px;
  max-height: 30px;
}

.PostFooter .timeSince {
  font-family: "Pacifico", cursive;
  font-weight: 700;
  color: #8b8c89;
  margin: 0;
}

.PostFooter .comments {
  color: #8b8c89;
  font-family: "Pacifico", cursive;
  margin: 0;
}

/* Responsive design adjustments for tablets */
@media (min-width: 576px) and (max-width: 768px) {
  .PostFooter .postedBy,
  .PostFooter .author,
  .PostFooter .timeSince,
  .PostFooter .comments {
    font-size: 0.7rem;
  }
}

/* Responsive design adjustments for mobile devices */
@media (max-width: 576px) {
  .PostFooter .postedBy,
  .PostFooter .author,
  .PostFooter .timeSince,
  .PostFooter .comments {
    font-size: 0.7rem;
    padding: 1px
  }

  .PostFooter .timeSince,
  .PostFooter .comments {
    font-size: 0.7rem;
    letter-spacing: 1px;
    display: none;
   
  }

  .PostFooter {
    flex-direction: column-reverse;
    justify-content: center;
    padding: 0rem;
    min-height: 25px;
    margin-bottom: 8px;
    
  }
}
