.Header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 3.8rem;
  background-color: #333;
  font-family: "Libre Baskerville";
  border-bottom: 1px solid #f9f8e4;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.Header .logo {
  display: flex;
  align-items: center;
  color: #f9f8e4;
  cursor: pointer;
}

.Header .logo img {
  max-width: 100%;
  height: auto;
}

.Header .logo h4 {
  padding-top: 3px;
  font-size: 1.2rem;
}

.Header span {
  color: #819ea2;
}

@media (max-width: 768px) {
  .Header {
    justify-content: center;
    padding: 0 10px;
  }

  .Header .logo h4 {
    font-size: 1rem;
  }
}

@media (min-width: 800px) and (max-width: 1110px) {
  .Header {
    padding: 0 15px;
  }

  .Header .logo h4 {
    font-size: 1.15rem;
    padding-top: 2.5px;
  }
}

@media (max-width: 550px) {
  .Header {
    justify-content: space-around;
    align-items: center;
  }
  .Header .logo h4 {
    display: none;
  }
}

@media (max-width: 750px) {
  .Header {
    padding: 0 5%;
    height: auto;
  }

  .Header .logo img {
    width: 40px;
    height: 44px;

    .Header .logo h4 {
      font-size: 0.9rem;
    }
  }
}
