.PostContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 750px;
  background-color: #f9f8e4;
  box-shadow: 5px 5px 5px #888888;
  margin-top: 35px;
  padding-bottom: 35px;
  border-radius: 5px;
}

.PostContent h2 {
  margin: 30px 30px 20px;
  font-family: "Courier Prime", monospace;
  letter-spacing: -1px;
  ;
}

.PostContent p {
  margin: 0 30px 20px;
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
}

.PostContent h2,
.PostContent p {
  margin-left: 5%;
  margin-right: 5%;
}

.PostContent .conditional {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.PostContent .conditional a {
  color: blue;
}

.PostContent img,
.PostContent video {
  max-width: 100%;
  height: auto;
}

.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  overflow: hidden;
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: 780px) and (max-width: 1100px){
  .PostContent {
    width: 75%; 
    max-width: 715px; 
    margin-top: 32.5px; 
    padding-bottom: 32.5px; 
}

.PostContent h2 {
    margin: 27.5px 27.5px 19px; 
    font-size: 1.4rem; 

.PostContent p {
    margin: 0 27.5px 19px; 
    font-size: 1.0625rem; 
}
}}

@media (min-width: 1100px) and (max-width: 1300px) {
  .PostContent {
      width: 75%; /* slight reduction in width */
      max-width: 680px; /* reduced max-width */
      margin-top: 30px; /* reduced margin-top */
      padding-bottom: 30px; /* reduced padding-bottom */
  }

  .PostContent h2 {
      margin: 25px 25px 18px; /* slightly adjusted margins */
      font-size: 1.4rem; /* reduced font-size */
  }

  .PostContent p {
      margin: 0 25px 18px; /* slightly adjusted margins */
      font-size: 1rem; /* reduced font-size */
  }
}

@media (max-width: 600px) {
  .PostContent {
    margin-top: 20px;
  }
}
