.Comment {
    margin: 15px;
}

.Comment .btn {
    display: block;
    border: none;
    background: none;
    color: #274c77;
    font-size: 10px;
    text-decoration: underline;
    padding: 5px;
    font-family: 'Noto Sans', sans-serif;
  }
  
  .Comment .btn:hover {
    cursor: pointer;
  }
  