main {
  background-color: #819ea2;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  align-items: center;
  min-height: 100vh;
}

.Posts-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
}




